body {

    font-family: 'Roboto', sans-serif;

}

.title {

    text-align: center;

}

.subtitle {

    text-align: center;
    color: grey;

}

.related-line {

    display: flex;
    justify-content:center;
    

}

.related-line div {

    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;

}

.related-line div p {

    color: rgb(255, 0, 144);

}

a {

    text-decoration: none;

}

.popular-button button{

    border-radius: 10px;
    width: 120px;
    background-color: white;
    border-color: rgba(255, 192, 203, 0.284);
    /* se provo a mettere un bordo spesso mi diventa invisibile */
    padding-right: 2.5em;
    margin-right: 10em;

}

.menu {

    display: flex;
    margin-top: 2em;
    justify-content: center;

}

.sub-menu {

    padding-right: 2em;
    

}

.sub-menu p {

    color: grey;

}

.sub-menu:hover p{

    color: black;

}

.filter {

    margin-left: 6em;

}

.filter button {

    border-radius: 10px;
    width: 120px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.235)
    
}

.four-line-block {

    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 5em;

}

.four-line-block div img {

    width: 330px;
    padding: 10px;
    border-radius: 20px;

}

.sub-image {

    display: flex;

}

.sub-image2 {

    display: flex;

}

.sub-image p {

    margin-top: 0.2em;
    margin-left: 0.7em;
    font-weight:800;

}

.sub-image2 p {

    margin-top: 0.2em;
    margin-left: 0.7em;
    font-weight:800;
    margin-left: 0.1em;

}

.sub-image ion-icon {

    padding-left: 0.5em;
    font-size: 1.5em;

}

.sub-image button {

    height: 20px;
    margin-left: 1em;
    margin-top: 0.2em;
    width: 40px;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.361);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 16px;

}

.sub-image2 button {

    height: 20px;
    margin-left: 1em;
    margin-top: 0.2em;
    width: 50px;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.361);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 16px;

}

.four-line-block .icon2 {

    font-size: 1.4em;
    color:  rgba(128, 128, 128, 0.361);
    padding-left: 2em;

}

.sub-image .number  {

    font-size: 12px;
    margin-left: 0.1em;
    padding-top: 0.2em;

}

.four-line-block .icon3 {

    color:  rgba(128, 128, 128, 0.361);
    margin-left: 0.1em;
    padding-left: 0;
    
}

.counter {

    display: flex;
    margin-left: 1em;

}

.counter2 {

    margin-right: 13px;

}

.kobbie {

    display: flex;
    margin-right: 5.5em;
    
}

.counter3 {

    display: flex;
    margin-left: 3em;

}

.counter4 {

    display: flex;
    margin-left: 4em;

}

.counter5 {

    display: flex;
    margin-left: 0em;
    

}

.team {

    margin-left: 2em;

}

.nicolas {

    font-size: 15.2px;

}


