@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {

    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;


}

#main {

    width: 100%;

}


#sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;


}

.sidebar-icon {

    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.sidebar-icon p {

    margin: 0;

}

.sidebar-icon ion-icon {

    font-size: 1.7em;

}

#topbar {

    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {

height: 50%;

}

#search-wrapper {

    display: flex;
    height: 60%;

}

#topbar-icons {

display: flex;

}

.topbar-icon ion-icon {

    font-size: 2em;
    padding: 0 0.4em;
    
}

#mic-icon {

    margin-top: 0.3em;

}

#mic-icon ion-icon {

    font-size: 2em;
    margin: 0 0.5em
}

#search-button {

    font-size: 1.5em;
    padding: 0 1em;
    display: flex;
    align-items: center;

}

#content {

    display: flex;
    height: 80%;
    margin: left 0;;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 32px;

}

.logo {

    display: flex;
    align-items: center;

}

.logo-epi {

    width: 50px;
    height: 50px;
    margin-bottom: 0.5em

}

.epi-thumb {

    width: 320px;
    height: 200px;

}

.block {

    margin: 0.5em;
    padding-left: 0em;
    height: 50%;
}

.titolo-descrizione {

    margin-left: 1em;

}

.titolo-descrizione p {

    margin-top: 0;
    font-size: 15px;

}

.titolo-descrizione h1 {

    margin-bottom: 0;
    font-size: 15px;

}